<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- links a la fuente Roboto -->
    
    <!-- link a stylesheet css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link a iconos -->
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- configuración viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 <header>
  <section class="headerPart1">  
    <div class="logo">
        <img src="/img/logo-mercado-liebre.svg" alt="aquì va el logo-mercado-liebre">
    </div>
    <div>
        <p class="barraDeBusqueda">Buscar productos, marca.<i class="fas fa-search"></i></p> 
    </div>
  </section>
  <div class="compraCuotas">
    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
  </div>
  <nav class="barraDeNavegacion">
        <ul class="listaNavegacionIzquierda">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>  
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="listaNavegacionDerecha">
            <li class="itemsListaNav"><a href="">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
            <li class="itemsListaNav"><a href="">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li class="itemsListaNav"><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
      
   </nav>
   <div class="contenedorHamburgesa"> <i class="fas fa-bars botonHamburguesa" ></i> </div>
 </header> 
 <div>
     <img src="/img/img-home-banner.jpg" alt="banner" class="banner">
 </div>
 <main>
  <h4>Basado en tu última visita</h4>
  <section class="seccionProductos">
  <!-- sección basado en tu ultima visita -->
    <div class="productos">
     <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="imgProductos">
     <p class="precios">$6.770</p>
     <p class="descuentos">40% oﬀ</p>
     <strong class="descripciones">Cafetera Moulinex</strong> 
   </div>
   <div class="productos">
    <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen del telefono" class="imgProductos">
    <p class="precios">$70.500</p>
    <p class="descuentos">10% oﬀ</p>
    <strong  class="descripciones">Samsung Galaxy S10</strong>  
   </div>
   <div class="productos">
    <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del SmartTV" class="imgProductos">
     <p class="precios">$23.200</p>
     <p class="descuentos">5% oﬀ</p>
     <strong class="descripciones">SmartTv Samsung 43"</strong> 
    </div>
    <div class="productos">
      <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen macbook" class="imgProductos">
      <p class="precios">$230.000</p>
      <p class="descuentos">20% oﬀ</p>
      <strong class="descripciones">MacBook Pro 2019</strong> 
  </div>
  </section>
  <h4>Secciòn de ofertas</h4>
  <section class="seccionProductos">
  <!-- secciòn ofertas -->
   
   <div class="productos">
    <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="imgProductos">
    <p class="precios">$6.770</p> 
    <p class="descuentos">40% oﬀ</p>
    <strong class="descripciones">Cafetera Moulinex</strong> 
    </p>
   </div>
   <div class="productos">
       <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen macbook" class="imgProductos">
       <p class="precios">$230.000</p>
       <p class="descuentos">20% oﬀ</p>
       <strong class="descripciones">MacBook Pro 2019</strong> 
   </div>
   <div class="productos">
    <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen del telefono" class="imgProductos">
    <p class="precios">$70.500</p>
    <p class="descuentos">10% oﬀ</p>
    <strong class="descripciones">Samsung Galaxy S10</strong>  
   </div>
   <div class="productos">
    <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del SmartTV" class="imgProductos">
    <p class="precios">$23.200</p> 
    <p class="descuentos">5% oﬀ</p>
    <strong class="descripciones">SmartTv Samsung 43"</strong> 
   </div>
  </section>
 </main>
 <footer>
  <section>
    <i class="fas fa-credit-card iconos-footer"></i>   
    <h4>Pagá con tarjeta o en efectivo</h4>
   <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
  </section>
  <section>
   <i class="fas fa-gift iconos-footer"></i>
   <h4>Envío gratis desde $ 2.500 </h4>
   <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos.</p>
  </section>
  <section>
   <i class="fas fa-user-shield iconos-footer"></i>
   <h4>Seguridad, de principio a ﬁn</h4>
   <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>   
  </section>
  <section>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
  </section>   
 </footer>   
</body>
</html>