.perfilDeUsuario{
    display: flex;
    flex-direction: column;
}

.perfilDeUsuario div{
    margin-left: 95px;
}

.mainForm{
    margin: 10px 10px 10px 15px;
    padding: 2px;
}

.titulosForm{
    font-weight: bolder;
}

.checkboxes{
    margin-left: 95px;
}