@import url(/css/normalize.css);
@import url(/css/formulario.css);
:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

*{
    box-sizing: border-box;
}

p{
    font-size: 12px;
}

header{
    background-color: var(--amarillo);
    padding: 2px;
}



.logo{
    width: 50%;
}

.barraDeBusqueda{
    background-color: #ebebeb;
    color: #666;
    border: black solid 1px;
    font-size: 12px;
    padding: 5px;
    border-radius: 5%;
}

.compraCuotas{
    text-align: center;
}

.banner{
    width: 100vw;
}

.barraDeNavegacion{
    display: none;
    justify-content: flex-end;
    padding: 2px;
    margin: 2px;
}

.listaNavegacionIzquierda{
    list-style-type: none;
    
    padding: 4px;
    margin: 4px;
    
}

.contenedorHamburgesa{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.botonHamburguesa{
    background-color: #1259c3;
    color: white;
    border-radius: 10%;
    padding: 4px;
}

.listaNavegacionDerecha{
    list-style-type: none;
    
    padding: 4px;
    margin: 4px;
    
}

.itemsListaNav{
    padding: 2px;
    margin: 2px;
}

.productos{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    margin: 5px;
    padding: 3px;
    border: lightgray 0.10px solid;
    
}

.productos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.camioncito{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.imgProductos{
    width: 300px;
}

.descuentos{
    margin: 5px;
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}

.precios{
    margin: 5px;
    font-size: 18px;
    width: 30%;
}

.descripciones{
    margin: 5px;
    font-size: 16px;
    color: #666;
}



.seccionProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iconosFooter{
    color:#1259c3;
    font-size: 25px;
}

.contenedorPrecioDescuento{
    display: flex;
    align-items: center;
    position: relative;
    
}

.opcionesDelFooter{
    padding: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ebebeb;
}

.seccionesFooter{
    text-align: center;
}

.titulos{
    font-size: 24px;
}

.copy-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}



@media(min-width: 720px){
.compraCuotas{
    max-width: 200px;
    text-align: right;
}
.contenedorHamburgesa{
    display: none;
}

.barraDeNavegacion{
    display: flex;
    justify-content: space-between;
}
.listaNavegacionIzquierda{
    display: flex;
}

.listaNavegacionIzquierda li{
    margin: 0 5px;
}
.listaNavegacionDerecha{
    display: flex;
}
.listaNavegacionDerecha li{
    margin: 0 5px;
}

.barraDeBusqueda{
    width: 300px;
}
.logo{
    width: 33%;
}

}

@media(min-width: 1200px){
    .copy-header, .barraDeNavegacion{
        max-width: 1200px;
        margin:auto;
        justify-content: space-between;
    }
    .opcionesDelFooter{
        flex-direction: row;
    }

    .titulos{
        font-size: 32px;
    }

    .logo{
        width: 25%;
    }
}